nav {
  ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;

      a {
        color: var(--dark-text);
        text-decoration: none;
      }
    }
  }
}

.center {
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin-top: .6em;
}