@use "vars" as v;
@use "breakpoints" as b;

footer {
  a {
    text-decoration: none;
    transition: all .3s;
    color: v.$medium-blue;
    padding: 3px 5px;
    margin: 10px 15px;
    border-radius: 5px;

    &:hover, &:active {
      background-color: v.$light-blue;
      color: v.$dark-text;
    }
  }
}