@use "vars" as v;
@use "breakpoints" as b;

footer {
  box-shadow: 0px 0px 0px 0px, 0px -2.5px 10px v.$special-blue;
  position: sticky;
  top: calc( 100vh - 100px );
  width: 100%;

  height: 170px;
  @include b.break(425px) {
    height: 130px;
  }
  @include b.break(v.$sm) {
    height: 100px;
  }
  
  padding: 1em 5em;
  @include b.break(v.$lg) {
    padding: 1em 10em;
  }
  @include b.break(v.$xl) {
    padding: 1em 10em;
  }

  h6 {
    margin-bottom: .5em;
  }
}