@use "vars" as v;
@use "breakpoints" as b;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Mrs+Saint+Delafield&display=swap');
@font-face {
  font-family: 'singlong';
  src: url('../Singlong.ttf') format('truetype');
}

html {
  font-size: 17px;
  color: v.$dark-text;
  @include b.break(b.$md) {
    font-size: 18px;
  }
}

body {
  background-color: var(--light-background);
}

// Side margins
main, header, footer {
  margin: 0 1em;
  @include b.break(768px) {
    margin: 0 2.6em;
  }
  @include b.break(1024px) {
    margin: 0 5em;
  }
  @include b.break(1280px) {
    margin: 0 10em;
  }
}

body, p, a {
  font-family: 'Livvic', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'singlong', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.8rem;
  margin-bottom: -.1em;
}
h3, h4 {
  font-family: 'Livvic', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
}
h5, h6 {
  font-family: 'Livvic', Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------
                Utility classes
   ------------------------------------------- */
.center {
  text-align: center;
  margin: 0 auto;
}