@use "vars" as v;
@use "breakpoints" as b;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Mrs+Saint+Delafield&display=swap');
@font-face {
  font-family: 'singlong';
  src: url('../Singlong.ttf') format('truetype');
}

html {
  font-size: 18px;
  color: v.$dark-text;
  @include b.break(b.$md) {
    font-size: 19px;
  }
}

body {
  position: relative;
  background-color: var(--light-background);
  @include b.break(b.$sm) {
    // To account for the header height
    padding-top: 7em;
  }
}

// Side margins
$mainMargin: 2em;
@mixin marginLeftRight($left, $right: 0) {
  margin-left: $left;
  margin-right: $left;

  @if $right != 0 {
    margin-right: $right;
  }
}
main, header, footer {
  @include marginLeftRight(1em);
  margin-bottom: $mainMargin;
  
  @include b.break(v.$md) {
    @include marginLeftRight(2.6em);
    margin-bottom: $mainMargin;
  }
  @include b.break(v.$lg) {
    @include marginLeftRight(5em);
    margin-bottom: $mainMargin;
  }
  @include b.break(v.$xl) {
    @include marginLeftRight(10em);
    margin-bottom: $mainMargin;
  }
}

body, p, a {
  font-family: 'Livvic', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

h1 {
  font-family: 'singlong', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.8rem;
  margin-bottom: -.1em;
}
h2 {
  font-family: 'singlong', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2rem;
  margin-bottom: -.1em;
}
h3 {
  font-family: 'singlong', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  margin-bottom: -.1em;
}
h4 {
  font-family: 'Livvic', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
  font-weight: 500;
}
h5 {
  font-family: 'Livvic', Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: 600;
}
h6 {
  font-family: 'singlong', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------
                Utility classes
   ------------------------------------------- */
.center {
  text-align: center;
  margin: 0 auto;
}

.link-button {
  padding: .9em;
  background-color: v.$special-blue;
  // color: white;
  color: v.$dark-text;
  border-radius: 15px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}