@use "vars" as v;
@use "breakpoints" as b;

nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
  padding: .5em;
  text-align: right;

  &.showOnMobile {
    width: 100vw;
    height: 100vh;
    background-color: white;

    // Only show the <ul> when the nav itself is shown.
    > ul {
      display: flex;
    }
  }

  // Desktop styles: always show, disregard .showOnMobile.
  @include b.break(b.$sm) {
    position: static;
    height: auto;
    width: auto;
    background-color: transparent !important;
    display: block;
  }

  > button {
    // Hamburger button is visible on mobile.
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    color: v.$accent;
    font-size: 1.75em;
    border-radius: 25px;
    transition: all .3s;
    margin-top: 10px;
    padding: 8px 12px;
    padding-top: 0;

    &:hover {
      background-color: v.$light-blue;
    }

    // Hamburger button is hidden on desktop.
    @include b.break(b.$sm) {
      display: none;
    }
  }

  ul {
    // Hidden on mobile by default.
    display: none;
    // Mobile layout when shown.
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0;

    @include b.break(b.$sm) {
      display: flex; // Ensure the <ul> is visible on desktop.
      position: relative;
      align-items: center;
      flex-direction: row;
    }

    li {
      list-style: none;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      @include b.break(b.$sm) {
        margin-top: 1em;
      }

      a {
        color: v.$dark-text;
        text-decoration: none;
        padding: 1em;
        border-radius: 25px;
        transition: all .3s;

        &:hover {
          text-decoration: underline;
        }
        &.active {
          background-color: v.$light-blue;
        }
      }
    }
  }
}