@use "vars" as v;
@use "breakpoints" as b;

header {
  margin-bottom: 4em;
  @include b.break(b.$sm) {
    margin-bottom: .5em;
  }
}

nav {
  box-shadow: -10px 15px 10px white;
  position: fixed; // Make nav scroll with the user
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;
  padding: .5em;
  text-align: right;

  &.showOnMobile {
    height: 100vh;
    background-color: white;
    // Only show the <ul> when the nav itself is shown.
    > ul {
      display: flex;
    }
  }

  // Desktop styles: always show, disregard .showOnMobile.
  @include b.break(b.$sm) {
    position: fixed;
    height: auto;
    width: auto;
    display: block;
    background-color: white;
  }

  > button {
    // Hamburger button is visible on mobile.
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    color: v.$accent;
    font-size: 1.75em;
    border-radius: 50%;
    transition: all .3s;
    margin-top: 10px;
    padding: 8px 12px;
    padding-top: 0;
    position: relative;
    z-index: 2;
    // Large circular white background with fade
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -55%);
      width: 175px;
      height: 175px;
      border-radius: 50%;
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.939) 0%,
        rgba(255, 255, 255, 0.727) 25%,
        rgba(255, 255, 255, 0.061) 57%,
        rgba(255, 255, 255, 0) 80%);
      z-index: -1;
      pointer-events: none;
    }
    &:hover {
      background-color: v.$light-blue;
    }

    // Hamburger button is hidden on desktop.
    @include b.break(b.$sm) {
      display: none;
    }
  }

  ul {
    // Hidden on mobile by default.
    display: none;
    // Mobile layout when shown.
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0;

    @include b.break(b.$sm) {
      display: flex; // Ensure the <ul> is visible on desktop.
      position: relative;
      align-items: center;
      flex-direction: row;
      margin: .1em 0;
    }
    @include b.break(b.$md) {
      padding-left: 5em;
      padding-right: 5em;
    }
    @include b.break(b.$lg) {
      padding-left: 10em;
      padding-right: 10em;
    }

    li {
      list-style: none;
      margin-top: 1.5em;
      margin-bottom: 1.5em;

      a {
        color: v.$dark-text;
        text-decoration: none;
        padding: 1em;
        border-radius: 25px;
        transition: all .3s;

        &:hover {
          text-decoration: underline;
        }
        &.active {
          background-color: v.$light-blue;
        }
      }
    }
  }
}