@use "vars" as v;

nav {
  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0;

    li {
      list-style: none;

      a {
        color: v.$dark-text;
        text-decoration: none;
      }
    }
  }
}
