@use "vars" as v;
@use "breakpoints" as b;

#navigation {
  display: flex;
  flex-direction: column;
  align-items: end;
  @include b.break(b.$sm) {
    display: inherit;
  }
  button {
    margin-top: 10px;
    padding: 8px 12px;
    padding-top: 0;
  }
}

nav {
  > button {
    display: block;
    @include b.break(b.$sm) {
      display: none;
    }
    background: none;
    border: none;
    cursor: pointer;
    color: v.$accent;
    font-size: 1.75em;
    border-radius: 25px;
    transition: all .3s;
    
    &:hover {
      background-color: v.$light-blue;
    }
  }

  ul {
    display: flex;
    align-items: flex-end;
    &.hideOnMobile {
      display: none;
      @include b.break(b.$sm) {
        display: flex;
      }
    }
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    @include b.break(b.$sm) {
      align-items: center;
      flex-direction: row;
    }

    li {
      list-style: none;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      @include b.break(b.$sm) {
        margin-top: 1em;
      }

      a {
        color: v.$dark-text;
        text-decoration: none;
        padding: 1em;
        border-radius: 25px;
        transition: all .3s;

        &:hover {
          text-decoration: underline;
        }
        &.active {
          background-color: v.$light-blue;
        }
      }
    }
  }
}
