@use "breakpoints" as b;
@use "vars" as v;

.info {
  line-height: .8em;
  h5 {
    margin-top: 1em;
  }
  &-parent {
    margin-top: 1em;
    h3:nth-of-type(2) {
      margin-top: 1.2em;
    }
  }

  &-questions {
    h5 {
      margin-top: 2em;
    }
    h5:first-of-type {
      margin-top: 2.5em;
    }
  }
}

.homepage h1 {
  margin-left: .75em;
  margin-right: .75em;
  margin-top: .15em;
  margin-bottom: .2em;

  @include b.break(b.$sm) {
    margin-top: 0;
  }
}

.registry {
  .small-text {
    margin-top: .2em;
  }

  .small-text, h3 {
    transition: all .2s;
    margin: 0 30px;

    @include b.break(b.$sm) {
      margin: 0 100px;
    }
  }

  .content {
    margin-top: 2.5em;
    margin-bottom: 3.5em;
  }

  a {
    transition: all .3s;
    color: v.$medium-blue;
    padding: 3px 5px;
    border-radius: 5px;

    &:hover, &:active {
      background-color: v.$light-blue;
      color: v.$dark-text;
    }
  }
}

.small-text {
  font-size: .7em;
  letter-spacing: .35em;
  text-transform: uppercase;
  margin-bottom:  -1em;
  margin-top: 1em;
  @include b.break(b.$sm) {
    margin-bottom:  -.1em;
    margin-top:  -.5em;
  }
}