@use "breakpoints" as b;

.info {
  line-height: .8em;
  h5 {
    margin-top: 1em;
  }
  &-parent {
    margin-top: 1em;
    h3:nth-of-type(2) {
      margin-top: 1.2em;
    }
  }

  &-questions {
    h5 {
      margin-top: 2em;
    }
    h5:first-of-type {
      margin-top: 2.5em;
    }
  }
}

.homepage h1 {
  margin-left: .75em;
  margin-right: .75em;
  margin-top: .15em;
  margin-bottom: .2em;

  @include b.break(b.$sm) {
    margin-top: 0;
  }
}

.small-text {
  font-size: .7em;
  letter-spacing: .35em;
  text-transform: uppercase;
  margin-bottom:  -1em;
  margin-top: 1em;
  @include b.break(b.$sm) {
    margin-bottom:  -.1em;
    margin-top:  -.5em;
  }
}