.info {
  line-height: .8em;
  h5 {
    margin-top: 1.5em;
  }
  &-parent {
    margin-top: 1em;
    h3:nth-of-type(2) {
      margin-top: 1.2em;
    }
  }
}

.homepage h1 {
  margin-left: .75em;
  margin-right: .75em;
  margin-top: .35em;
  margin-bottom: .25em;
}