@use "breakpoints" as b;
@use "vars" as v;

.info {
  margin-top: .75em;
  line-height: 1.25em;
  border-radius: 10px;
  padding: .25em;

  p:nth-child(1) {
    margin: .5em 0;
  }
  p:nth-child(2) {
    margin: 0; 
  }
}

.homepage {
  h1 {
    margin-left: .75em;
    margin-top: .15em;
    margin-right: .75em;
    line-height: 1.2em;

    @include b.break(b.$sm) {
      margin-top: 0;
      margin-bottom: .5em;
    }
  }
  .flower {
    width: 35%;
    margin-bottom: 1em;
  }
  .mobile-links {
    @include b.break(b.$sm) {
      display: none;
    }
  }
}

.info-parent {
  // margin-top: 2.5rem;
  margin-bottom: 2.25rem;

  h2 {
    padding-top: .4em;
    line-height: .3em;
    @include b.break(b.$sm) {
      line-height: 1.25em;
    }
  }
}

.registry {
  h5 {
    margin-top: 1.6em;
    margin-bottom: 1em;
  }
  p {
    margin-top: -.6em;
  }

  .small-text {
    margin-top: .2em;
  }

  .small-text, h6 {
    transition: all .2s;
    margin: 0 30px;

    @include b.break(b.$sm) {
      margin: 0 100px;
    }
  }

  h6 {
    @include b.break(v.$lg) {
      display: none;
    }
  }

  .content {
    margin-top: 2.5em;
    margin-bottom: 3.5em;
  }

  a {
    transition: all .3s;
    color: v.$medium-blue;
    padding: 3px 5px;
    border-radius: 5px;

    &:hover, &:active {
      background-color: v.$light-blue;
      color: v.$dark-text;
    }
  }

  .flower {
    width: 30%;
    margin-bottom: 1em;
  }
}

.questions {
  h5 {
    margin-top: 2.4em;
    margin-bottom: 1.4em;
  }
  p {
    margin-top: -.6em;
  }

  .flower {
    width: 30%;
    margin-top: .6em;
    margin-bottom: 1em;
  }
}

.registry, .rsvp, .questions {
  h1 {
    margin-top: -.4em;
  }
}

.small-text {
  font-size: .7em;
  letter-spacing: .35em;
  text-transform: uppercase;
  margin-bottom:  -1em;
  @include b.break(b.$sm) {
    margin-bottom:  -.1em;
    margin-top:  -.5em;
  }
}