@use "breakpoints" as b;
@use "vars" as v;

#rsvp-form {
  width: 100%;
  max-width: 800px;
  height: 500px;
  border: none;
  z-index: 100;
}

.rsvp {
  img {
    position: absolute;
    bottom: 175px;
    @include b.break(425px) {
      bottom: 135px;
    }
    @include b.break(v.$sm) {
      bottom: 105px;
    }
    left: 10px;
    z-index: -1;
  }
}