// codepen: https://codepen.io/studiojvla/pen/qVbQqW

@use "breakpoints" as b;

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 100vw;
	margin: 0 -1em;
  @include b.break(768px) {
    margin: 0 -2.6em;
  }
  @include b.break(1024px) {
    margin: 0 -5em;
  }
  @include b.break(1280px) {
    margin: 0 -10em;
  }
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 250px;
		position: absolute;
		z-index: 2;
		width: 100px;
		@include b.break(640px) {
			width: 150px;
		}
		@include b.break(768px) {
			width: 200px;
		}
		@include b.break(1024px) {
			width: 250px;
		}
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 18);
	}
	
	.slide {
		height: 250px;
		width: 250px;
  }
}