// color vars
$light-text: #ffffff;
$light-background: #ffffff;
$light-blue: #e0f2ff;
$medium-blue: #007fda;
$special-blue: rgba(24, 95, 146, 0.177);
$dark-text: #185f92;
$dark-background: #185f92;
$accent: #2770a5;

// breakpoint vars
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// box shadows
$paper-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;